<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sq.mapper.PaymentMapper">

    <insert id="insertPayment" parameterType="com.sq.dto.payment.PaymentDto">
        insert into payment (id, status, order_id, pay_no, payer_uid, pay_way, payer_amount, order_amount, create_time, update_time)
        values (#{id}, #{status}, #{orderId}, #{payNo}, #{payerUid}, #{payWay}, #{payerAmount}, #{orderAmount}, #{createTime}, #{updateTime})
    </insert>

    <update id="updatePaymentByPayNum" parameterType="com.sq.dto.payment.PaymentDto">
        update payment set status = #{status}, update_time=#{updateTime}, complete_time=#{completeTime}
        where  pay_no=#{payNo}
    </update>
    <select id="getPaymentByOrderId" resultType="com.sq.pojo.Payment" parameterType="string">
        select * from payment where order_id=#{orderId}
    </select>
    <select id="getPaymentByPaymentId" resultType="com.sq.pojo.Payment">
        select * from payment where pay_no=#{paymentId}
    </select>
</mapper>